/* card styling */
*{
    font-size: 1em;
}
.card{
    
    border: grey 3px solid;
    border-radius: 5%;
    display: flex;
    padding: 10px;
    
}

.avatar{
    border-radius: 50% 50% ;
    width: 75px;
    height: 75px;
    align-self: center;
}

.text-container{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





/* grid layout cards */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px 25px;
}


/* modal styling */

.modal-content{
    
    border: 2px black solid;   
    display: flex;
    flex-direction: column; 
    
    align-items: center;
    
    padding: 20px;
   
}


.modal-content .text-container p,
.modal-content .text-container h2{
    text-align: center;
    font-size: 25px;
    width: 100%;
}



/* create overlay */

body{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 450px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20p;
}

/* modal close layout */

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    }

/* hidden class to not display the overlay */

.hidden {
    display: none;
    }
    